 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>I am fluent at designing WebApps using HTML, CSS, BootStrap, Saas. I have developed various webapps using BootStrap and HTML.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>I code in JavaScript, Nodejs, also i have good basic understanding of React Native. Mainly I do backend programming in C, C++, Java, Python.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>I use Git, GitHub for Version Control, also i have basic knowledge of Eclipse. I have coded some application using Android Framework and i am good at using NetBeans.</p>
    </div>
</div>
