<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Lab Assistant Helper Portal </h3>
    <ul>
      <li> Java, Android Framework, JavaScript</li>
    </ul>
    <p>My Application helps Lab Assistant to trace unusual activites carried out on Lab PC's by students. If some student opens chrome tab instead of doing his work then Lab Assistant will get notfied about this activity with PC number. We have used client server architecture where Lab pc's will be client and Android Application for Lab Assistant will be Server form which Lab Assistant can shutdown pc.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> IoT Based Baby Monitoring System </h3>
    <ul>
      <li> IoT, Python, Android Framework, MQTT</li>
    </ul>
    <p>he proposed system exploits sensors to monitor the baby's vital parameters, such as ambient temperature, moisture, and crying. A prototype of the proposed baby cradle has been designed using Nx Siemens software, and a red meranti wood is used as the material for the cradle. The system architecture consists of a baby cradle that will automatically swing using a motor when the baby cries. Parents can also monitor their babies' condition through an external web camera and switch on the lullaby toy located on the baby cradle remotely via the MQTT server to entertain the baby.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
